header nav{
    background-color: pink;
    margin-bottom: 3rem;

}
.img{
    width: 5rem;
}
.imgtableau{
    width: 5rem;
}
.imgtableau2{
    width: 5rem;

}
form{
    background-color: coral;
    border-radius: 5%;
}
.formulaire{
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.formulairebas{
    margin-left: 2rem;
    margin-bottom: 4rem;

}

footer{
    background-color: rgb(255,192,203);
    width: auto;
    height: 4rem;
}