header nav{
    background-color: pink;
    margin-bottom: 3rem;

}
.card{
    margin-bottom: 2rem;
}
.btn a{
    color: white;
    text-decoration: none;
    margin:auto;
}
.btn a:hover{
    color: orange;
}
.bi-currency-euro{
    color: blue;
}
button{
    margin-left: 5rem;
}
footer{
    background-color: rgb(255,192,203);
    width: auto;
    height: 4rem;
}