header nav{
    background: linear-gradient(to bottom,purple,30%, pink);
    margin-bottom: 3rem;
}
 
.logo{
    width: 60%;
}

a{
    color: black;
}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

}
.bi-currency-euro{
    color: black;
}
footer{
    background: linear-gradient(to top,purple,30%, pink);
    width: auto;
    height: 4rem;
}